# Dependencies
/node_modules

# Local Development
/database
/uploads
.env
.env.local
.env.production

# Docker
docker-compose.override.yml

# Logs
/logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Deprecated custom client
/directus_client/